/*generali*/

html{
    cursor: url('images/customcursor.cur'),auto;
}
body{
    background-color: rgb(241, 241, 241);
    margin:0 0 50px 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    background: rgb(232,231,255);
    background: radial-gradient(circle, rgba(232,231,255,1) 0%, rgba(220,249,255,1) 100%);
}
a {
    color: #801eff;
    text-decoration: none;
}
a:hover {
    color:#000000; 
    text-decoration:none;
}
::-webkit-scrollbar {
    width: 0px;
}
hr{
    border: 1px solid lightgray;
    border-radius: 30px;
    margin: 20px 5px 20px 5px;
    width: 65%;
}
h1{
    text-align: center;
    font-family: 'Montserrat-Medium';
    margin: 40px;
}
h2{
    text-align: left;
    font-family: 'Montserrat-Medium';
}
p{
    font-family: 'Montserrat-Light';
    font-size:15px;
}
li{
    font-family: 'Montserrat-Light';
    font-size:15px;
}

/*menu contestuale*/

.menu{
    display: none;
    font-family: 'Montserrat-Medium';
    border: solid 1px #C7C7C7;
    border-radius: 7px;
    position: fixed;
    width: 180px;
    background-color: white;
    z-index: 2147483630;
    box-shadow: 0px 0px 4px 1px rgba(199,199,199,0.5);
}
.listmenu{
    margin: 0;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
.menuoption{
    padding: 5px 0px 5px 25px;
}
.menuoptionfirst{
    padding: 5px 0px 5px 25px;
    margin-top: 5px;
}
.menuoptionlast{
    padding: 5px 0px 5px 25px;
    margin-bottom: 5px;
}
.menuoption:hover{
    background-color: #8dbbff;
}
.menuoptionfirst:hover{
    background-color: #8dbbff;
}
.menuoptionlast:hover{
    background-color: #8dbbff;
}

/*font*/

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');;
 }
 @font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');;
 }

/*navmenu*/

/*navmenu*/

#navmenu{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    overflow-x: hidden;
    width: 100%;
    padding-bottom:10px;
    padding-top:10px;
    background-color: #fff;
    z-index: 1;
}
.elemento_navmenu{
    height: 20px;
    padding:10px;
}
.elemento_corrente_navmenu{
    height: 20px;
    background-color: rgb(233, 255, 30);
    padding:10px;border-radius: 20px;
    filter: invert(1);
}
#cookies_description{
    margin:0 8% 50px 8%;
}